Repository danieleongari/CURATED-COFs: changes, and which pre-commit hooks are due for each by the changed paths.
All: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

csv-unique-doi:
  name: Check that DOIs are unique
  entry: python ./.github/validate.py unique-dois
  language: system
  pass_filenames: false

csv-unique-ids:
  name: Check that CURATED-COF IDs are unique
  entry: python ./.github/validate.py unique-cof-ids
  language: system
  pass_filenames: false

csv-unique-names:
  name: Check that CURATED-COF names are unique
  entry: python ./.github/validate.py unique-cof-names
  language: system
  pass_filenames: false

overlapping-atoms:
  name: Check that there are no overlapping atoms.
  entry: python ./.github/validate.py overlapping-atoms
  language: system
  pass_filenames: true

move 17 structure to cof-discarded, because of discarded n-folding configuration
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

add 8 COFs from 2 papers requested to include
  cifs/20550N2.cif
  cifs/20551N2.cif
  cifs/20560N3.cif
  cifs/20561N3.cif
  cifs/20562N3.cif
  cifs/20563N3.cif
  cifs/20564N3.cif
  cifs/20565N3.cif
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

modify 5 COFs as suggested by Andres
  cifs/16020N2.cif
  cifs/16070N2.cif
  cifs/17180N2.cif
  cifs/19060N2.cif
  cifs/19466N2.cif
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

change 'ange' DOIs to 'anie'
  cof-papers.csv
Due: csv-unique-doi

fix p2056
  cof-papers.csv
Due: csv-unique-doi

correct cofs BrCOF-1/2 of p2100
  cifs/21000N2.cif
  cifs/21001N2.cif
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

Update README.md
  README.md
Due: none

fixing duplicates (issue #21)
  cifs/19454N2.cif
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

fix minor errors on duplicated entries
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

sort csv files by CURATED-COF ID
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names

minor suggested corrections
  .github/requirements.txt
  .pre-commit-config.yaml
  README.md
Due: none

data, cof-papers.csv: correct a JACS reference that was missing a comma
  cof-papers.csv
Due: csv-unique-doi

check that structures are unique
  .github/requirements.txt
  .github/validate.py
  .github/workflows/ci.yml
Due: none

add check on paper ids
  .github/requirements.txt
  .github/validate.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

match CIF filenames
  .github/validate.py
  .pre-commit-config.yaml
Due: none

fix plan typo
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

remove 15230N2 CIF that was an erroneous duplicate of 15210N2
  cifs/15230N2.cif
Due: overlapping-atoms

remove p2116 since no framework was added
  cof-papers.csv
Due: csv-unique-doi

discard 16131N3
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

fix uncomment imports
  .github/validate.py
Due: none

exclude discarded COFs from unique-structure validation
  .github/validate.py
Due: none

fix 2110* COFs
  cifs/21101N2.cif
  cifs/21102N2.cif
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

fix header cof-frameworks
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

add back NKCOF-109
  cifs/21101N2.cif
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

fix 21313N3 with correct structure for TAPB-COF-P
  cifs/21313N3.cif
Due: overlapping-atoms

discard duplicates among new COFs
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

rename Ti-COF-1 as charged
  cifs/21300C3.cif
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

correct N on BBO-COFs
  cifs/16010N2.cif
  cifs/16011N2.cif
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

fix reference paper and discard two duplicates
  cof-discarded.csv
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names

discard duplicated and add H to 19301N2
  cifs/19301N2.cif
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

discard some duplicates
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

discard last duplicate
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

add exception to validation of unique-structures
  .github/validate.py
Due: none

fix exception to unique-structures
  .github/validate.py
Due: none

remove spaces
  cof-discarded.csv
Due: none

include discarded cofs' ids to unique id validation
  .github/validate.py
Due: none

Path conditions:
  csv-unique-doi: any of: (?x)^(
    cof-papers.csv
)$
  csv-unique-ids: any of: (?x)^(
    cof-frameworks.csv
)$
  csv-unique-names: any of: (?x)^(
    cof-frameworks.csv
)$
  overlapping-atoms: any of: (?x)^(
    cifs/.*.cif
)$
