Repository danieleongari/CURATED-COFs: changes, and which pre-commit hooks are due for each by the changed paths.
All: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: mixed-line-ending
  # this would affect all CIF files, changing their hashkeys
  # - id: trailing-whitespace

- repo: local
  hooks:
  - id: csv-unique-doi
    name: Check that DOIs are unique
    entry: python ./.github/validate.py unique-dois
    language: system
    pass_filenames: false
    files: >-
        (?x)^(
            cof-papers.csv
        )$
  - id: csv-unique-ids
    name: Check that CURATED-COF IDs are unique
    entry: python ./.github/validate.py unique-cof-ids
    language: system
    pass_filenames: false
    files: >-
        (?x)^(
            cof-frameworks.csv
        )$
  - id: csv-unique-names
    name: Check that CURATED-COF names are unique
    entry: python ./.github/validate.py unique-cof-names
    language: system
    pass_filenames: false
    files: >-
        (?x)^(
            cof-frameworks.csv
        )$
  # - id: duplicates-marked-reciprocally
  #   name: Check that marking of "Duplicate found" is reciprocal.
  #   entry: python ./.github/validate.py duplicates-marked-reciprocally
  #   language: system
  #   pass_filenames: false
  #   files: >-
  #       (?x)^(
  #           cof-frameworks.csv
  #       )$
  - id: overlapping-atoms
    name: Check that there are no overlapping atoms.
    entry: python ./.github/validate.py overlapping-atoms
    language: system
    pass_filenames: true
    files: >-
        (?x)^(
            cifs/.*.cif
        )$

corrected cof-papers.csv entry for p1629
  cof-papers.csv
Due: csv-unique-doi

add one new cof for test
  cifs/21330N2.cif
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

correct parsing error in 21330N2.cif
  cifs/21330N2.cif
Due: overlapping-atoms

move duplicate 21370N2 into cof-discarded.csv
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

correct parsing error 21410N2.cif
  cifs/21330N2.cif
  cifs/21410N2.cif
Due: overlapping-atoms

remove erronous COF (synthesised structure in publication doesn't match crystallographic data)
  cifs/21482N2.cif
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

unify labelling
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

remove duplicate 214801N2 of 20460N2
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

remove duplicates
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

remove duplicate 21330N2
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

Update cof-papers.csv
  cof-papers.csv
Due: csv-unique-doi

final version
  report_issues.jl
Due: none

resolve structure issues
  cifs/16056N2.cif
  cifs/20340N2.cif
  cifs/20670N3.cif
  cifs/21021N2.cif
  cifs/21192N2.cif
  cifs/21392N2.cif
  cifs/21551N3.cif
  cof-discarded.csv
Due: overlapping-atoms

add H
  cifs/21340N2.cif
Due: overlapping-atoms

change N to C in phenylring
  cifs/21425N2.cif
Due: overlapping-atoms

discard 21371N2: wrong atom distances/symmetrie
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

turn H into C in phenyl rings
  cifs/16056N2.cif
Due: overlapping-atoms

modify 20670N3 as suggested by @eahenle and turn N into C in Phenyl ring
  cifs/20670N3.cif
Due: overlapping-atoms

correct 21131N2: remove overlapping atoms and additional H
  cifs/21131N2.cif
Due: overlapping-atoms

correct monovalent C in 21392N2 as suggested by @eahenle
  cifs/21392N2.cif
Due: overlapping-atoms

Revert "correct monovalent C in 21392N2 as suggested by @eahenle"
  cifs/21392N2.cif
Due: overlapping-atoms

Revert "Merge branch 'master' of github.com:danieleongari/CURATED-COFs into 2208_correct_erronous_structures"
  cof-papers.csv
Due: csv-unique-doi

update formate
  cifs/20670N3.cif
  cof-discarded.csv
Due: overlapping-atoms

2208 correct erronous structures (#37)
  cifs/16056N2.cif
  cifs/20670N3.cif
  cifs/21131N2.cif
  cifs/21340N2.cif
  cifs/21425N2.cif
  cof-discarded.csv
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

Cl not CH3
  cifs/21392N2.cif
Due: overlapping-atoms

Create LICENSE
  LICENSE
Due: none

Update README.md with note on CIFs curation
  README.md
Due: none

Update README.md minor fix
  README.md
Due: none

copy requirements.txt for GitHub Action from mpougin
  .github/requirements.txt
Due: none

Update requirements.txt
  .github/requirements.txt
Due: none

update CI, sort csv indexes, and check for it
  .github/requirements.txt
  .github/validate.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  cof-discarded.csv
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names

remove all duplicates from paper p2245
  cifs/224510N2.cif
  cifs/224511N2.cif
  cifs/224515N2.cif
  cifs/224516N2.cif
  cifs/22451N2.cif
  cifs/224520N2.cif
  cifs/224521N2.cif
  cifs/224523N2.cif
  cifs/224525N2.cif
  cifs/224529N2.cif
  cifs/224533N2.cif
  cifs/224534N2.cif
  cifs/224535N2.cif
  cifs/224536N2.cif
  cifs/224537N2.cif
  cifs/224538N2.cif
  cifs/224539N2.cif
  cifs/22454N2.cif
  cifs/22455N2.cif
  cifs/22456N2.cif
  cifs/22459N2.cif
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

convert the cof number to a,b,c, ...
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

rename cifs
  cifs/22451N2.cif
  cifs/2245aN2.cif
  cifs/2245bN2.cif
  cifs/2245cN2.cif
  cifs/2245dN2.cif
  cifs/2245eN2.cif
  cifs/2245fN2.cif
  cifs/2245gN2.cif
  cifs/2245hN2.cif
  cifs/2245iN2.cif
  cifs/2245jN2.cif
  cifs/2245kN2.cif
  cifs/2245lN2.cif
  cifs/2245mN2.cif
  cifs/2245nN2.cif
  cifs/2245oN2.cif
  cifs/2245pN2.cif
  cifs/2245qN2.cif
  cifs/2245rN2.cif
  cifs/2245sN2.cif
  cifs/2245tN2.cif
  cifs/2245uN2.cif
  cifs/2245vN2.cif
  cifs/2245wN2.cif
  cifs/2245xN2.cif
Due: overlapping-atoms

move 12 duplicates to cof-discarded.csv
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names
