Repository danieleongari/CURATED-COFs: changes, and which pre-commit hooks are due for each by the changed paths.
All: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

csv-unique-doi:
  name: Check that DOIs are unique
  entry: python ./.github/validate.py unique-dois
  language: system
  pass_filenames: false

csv-unique-ids:
  name: Check that CURATED-COF IDs are unique
  entry: python ./.github/validate.py unique-cof-ids
  language: system
  pass_filenames: false

csv-unique-names:
  name: Check that CURATED-COF names are unique
  entry: python ./.github/validate.py unique-cof-names
  language: system
  pass_filenames: false

overlapping-atoms:
  name: Check that there are no overlapping atoms.
  entry: python ./.github/validate.py overlapping-atoms
  language: system
  pass_filenames: true

sort indexes
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

add COFs reported for C2-separation
  cifs/13200N2.cif
  cifs/13201N2.cif
  cifs/16132N3.cif
  cifs/17260N2.cif
  cifs/23000N2.cif
  cifs/23001N2.cif
  cof-frameworks.csv
  cof-papers.csv
Due: csv-unique-doi, csv-unique-ids, csv-unique-names, overlapping-atoms

correct format 16132N3
  cifs/16132N3.cif
Due: overlapping-atoms

add 16132N3 to white list
  .github/validate.py
Due: none

correct erronous structures that fail DFT-opt
  cifs/21750N2.cif
  cifs/22080N2.cif
  cifs/22104N2.cif
  cifs/22452N2.cif
  cifs/2245nN2.cif
  cof-discarded.csv
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names, overlapping-atoms

create unique names
  cof-frameworks.csv
Due: csv-unique-ids, csv-unique-names

Path conditions:
  csv-unique-doi: any of: (?x)^(
    cof-papers.csv
)$
  csv-unique-ids: any of: (?x)^(
    cof-frameworks.csv
)$
  csv-unique-names: any of: (?x)^(
    cof-frameworks.csv
)$
  overlapping-atoms: any of: (?x)^(
    cifs/.*.cif
)$
